/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 1 version
*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-black:#000000; /* black text color */
  --basic-white:#ffffff; /* white text and bg color */
  --basic-olive: #849d8f; /* background color-1*/
  --basic-dark-grayish-blue: #8996a6; /* background color-2*/
  --basic-dark-grayish-orange: #9d8b84; /* background color-3*/
  --basic-light-olive: #a1b5a9; /*text-decoration on nav items*/
  --basic-transparent: rgba(255, 255, 255, 0.2); /*nav buttons*/
  --basic-light-tomato: #f26843; /*button center*/
  --basic-tomato: #e74a35; /*button edge*/
  --basic-light-hover-tomato: #f38166; /*button hovered edge*/
  --basic-light-hover-grey: rgba(255, 255, 255, 0.2); /*button hovered*/
  --basic-black-active: rgba(0, 0, 0, 0.07); /*button active*/
  --basic-red: #ac1000; /*button-shadow hovered edge*/
  --basic-tomato-shadow: rgba(172, 16, 0, 0.64); /*shadow of button*/
  --basic-tomato-shadow-active: rgba(172, 16, 0, 1); /*shadow on active button*/
  --basic-tomato-text-shadow: rgba(160, 32, 11, 0.76); /*shadow of button*/
  --basic-raspberry: #c1134e; /*background color of raspberry gift*/
  --basic-chocolate: #4f2e0f; /*background color of chocolate gift*/
  --basic-waffle: #f2e6ce; /*background color of waffle*/
  --basic-light-black: #323232; /*text color of waffle/aside*/
  --basic-post: #92cdff; /*background color of subscription*/
  --basic-grey: #f8f7f4; /*background color of subscription__wrapper*/
  --basic-post-text: #5a5a5a; /*text color of post*/
  --basic-dirty-grey: rgba(178, 178, 178, 0.52); /*border color of subscription__input*/
  --basic-light-grey: #999999; /*placeholder color of subscription__input*/
  --basic-light-white: #fefefe; /*background color of contacts*/
  --basic-trans-black: rgba(255, 255, 255, 0.5); /*border of social icons*/
  --basic-light-trans-black: rgba(255, 255, 255, 0.3); /*color of links bottom border*/
  --basic-dark-grey: rgba(248, 247, 244, 0.2); /*bg of hovered goods*/
  --basic-dark-black: rgba(0, 0, 0, 0.4); /*box shadow for hovered goods*/
  --basic-trans-grey: rgba(50, 50, 50, 0.2); /*border-bottom on catalog menu*/
  --basic-coral: #fbded7; /*hover on catalog menu*/
  --basic-coral-active: #f6b5a5; /*active on catalog menu*/
  --basic-coral-current: #D07058; /*current on catalog menu*/
  --basic-grey-bottom: #d1d0ce; /*pseudo on first item in catalog menu*/
  --basic-olive-scale: #d0d9d3; /*range scale color*/
  --basic-olive-bar: #f8f7f4; /*bar scale color*/
  --basic-red: #e84d37; /*cart color*/
  --basic-grey-card: #cacac7; /*cart bottom*/
  --basic-grey-nav: #ededed; /*active nav link*/
  --basic-grey-shadow: #696969; /*shadow nav link*/
  --basic-coral-active-link: #ffbc9e; /*active-link on basic bg*/
}

/* * * global * * */
html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: "Roboto", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: var(--basic-olive);
  color: var(--basic-white);
}

.body-wrapper {
  min-width: 1200px;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.theme-1 {
  background-color: var(--basic-olive);
  background-image: url("../img/special-offer-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.theme-2 {
  background-color: var(--basic-dark-grayish-blue);
  background-image: url("../img/special-offer-2.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.theme-3 {
  background-color: var(--basic-dark-grayish-orange);
  background-image: url("../img/special-offer-3.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 11px 22px;
  background: linear-gradient(180deg, var(--basic-light-tomato) 0%, var(--basic-tomato) 100%);
  box-shadow: 0px 2px 2px var(--basic-tomato-shadow);
  border-radius: 70px;
  color: var(--basic-white);
  text-decoration: none;
  text-shadow: 0px 2px 5px var(--basic-tomato-text-shadow);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(0deg, var(--basic-light-hover-grey), var(--basic-light-hover-grey)), linear-gradient(180deg, var(--basic-light-tomato) 0%, var(--basic-tomato) 100%);
  box-shadow: 0px 1px 2px 0px var(--basic-red);
}

.button:active {
  background: linear-gradient(0deg, var(--basic-black-active), var(--basic-black-active)), linear-gradient(180deg, var(--basic-light-tomato) 0%, var(--basic-tomato) 100%);
  box-shadow: inset 0 2px 2px var(--basic-tomato-shadow-active);
}

.input {
  padding-left: 14px;
  min-height: 44px;
  border: 1px solid var(--basic-dirty-grey);
  border-radius: 6px;
  background-color: var(--basic-white);
}

.popup {
  display: none;
  position: absolute;
  box-sizing: border-box;
  top: 38px;
  right: 0px;
  background-color: var(--basic-grey);
  padding: 20px;
  border-radius: 4px;
  z-index: 10;
  box-shadow: 0px 20px 20px 0 var(--basic-dark-black);
}

.popup__title {
  color: var(--basic-light-black);
  margin: 0;
}
/* * * index * * */
/* * * header * * */
.header {
  padding-top: 9px;
  margin: 0 27px;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
}

.nav__list {
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-left: 8px;
  margin: 0;
  list-style: none;
}

.nav__item {
  margin-top: 20px;
  line-height: 18px;
  padding-right: 7px;
  padding-bottom: 15px;
}

.nav__item:last-child {
  padding-right: 0;
}

.nav__link {
  font-weight: 700;
  color: var(--basic-white);
  line-height: 18px;
  padding: 0;
  margin: 4px 13px 7px 14px;
  text-decoration: none;
  border-bottom: 1px solid var(--basic-light-trans-black);
}

.nav__item:hover .nav__link,
.nav__item:focus .nav__link {
  margin: 0;
  padding: 4px 13px 7px 14px;
  color: var(--basic-light-black);
  background-color: var(--basic-white);
  transition: background-color 0.6s;
  text-decoration: none;
  border-radius: 26px;
  border-bottom: 1px solid var(--basic-light-trans-black);
}

.nav__link:active {
  background: var(--basic-grey-nav);
  box-shadow: inset 0px 2px 1px var(--basic-grey-shadow);
}

.nav__link--current {
  margin: 0;
  padding: 4px 13px 7px 14px;
  background-color: var(--basic-coral-current);
  border-radius: 26px;
  text-decoration: none;
}

/* catalog nav */
.nav__list {
  position: relative;
}

.catalog-nav__list--display {
  display: none;
}

.catalog-nav:hover .catalog-nav__list--display,
.catalog-nav:focus .catalog-nav__list--display {
  display: flex;
}

.catalog-nav__list {
  position: absolute;
  left: 3px;
  top: 51px;
  flex-direction: column;
  padding-left: 0px;
  list-style: none;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px var(--basic-dark-black);
  border-radius: 4px;
  z-index: 20;
}

.catalog-nav__item {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 21px;
  padding-right: 20px;
  color: var(--basic-light-black);
}

.catalog-nav__item:hover,
.catalog-nav__item:focus {
  background-color: var(--basic-coral);
  transition: background-color 0.6s;
}

.catalog-nav__item:active {
  background-color: var(--basic-coral-active);
  transition: background-color 0.3s;
}

.catalog-nav__item:first-child {
  padding-top: 10px;
  padding-bottom: 12px;
}

.catalog-nav__item:last-child {
  padding-bottom: 11px;
  padding-top: 5px;
}

.catalog-nav__item:first-child::after {
  content: "";
  position: absolute;
  right: 9px;
  bottom: 0;
  left: 6px;
  height: 2px;
  background-color: var(--basic-grey-bottom);
}

.catalog-nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}

.catalog-nav__item--current {
  background-color: var(--basic-coral-current);
  color: var(--basic-white);
}

/* user nav */
.user-nav {
  margin-left: auto;
}

.user-nav__list {
  display: flex;
  max-width: 300px;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  list-style: none;
}

.user-nav__item {
  position: relative;
  padding-left: 10px;
  padding-bottom: 6px;
  cursor: pointer;
}

.user-nav__item:first-child {
  padding-left: 0;
}

.nav-btns {
  position: relative;
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border: 0;
  background-color: var(--basic-transparent);
  border-radius: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--basic-white);
  cursor: pointer;
}

.user-nav__item:hover .nav-btns,
.user-nav__item:focus .nav-btns {
  transition: background-color 0.6s;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.user-nav__item:hover svg path,
.user-nav__item:focus svg path {
  transition: fill 0.6s;
  fill: var(--basic-black);
}

.user-nav__item:hover svg g,
.user-nav__item:focus svg g {
  fill: var(--basic-black);
}

.nav-btns__text {
  padding-left: 8px;
}

.nav-btns--search {
  padding: 0 8px;
}

.nav-btns--cart {
  background-color: var(--basic-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-light-black);
}

/* search form */
.popup--search {
  padding: 20px 16px;
  min-width: 342px;
}

.user-nav__item--search:hover .popup--search {
  display: block;
}

.input--search {
  width: 100%;
  box-sizing: border-box;
}

/* login form */
.popup--login {
  min-width: 277px;
}

.user-nav__item--login:hover .popup--login {
  display: block;
}

.login {
  display: flex;
  flex-direction: column;
}

.input--login {
  margin-bottom: 15px;
}

.login-btn {
  display: flex;
  justify-content: space-between;
}

.login-btn__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.login-btn__link {
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-light-black);
  text-decoration: none;
  border-bottom: 1px solid var(--basic-grey-bottom);
}

.login-btn__link:hover,
.login-btn__link:active {
  color: var(--basic-red);
  border-bottom: 1px solid var(--basic-coral-active);
}

/* header-contacts */
.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-contacts__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 4px;
}

.header-contacts__tel {
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  text-decoration: none;
}
/* * * main section * * */
.main {
  padding: 0 27px;
}

/* slider */
.slider {
  position: relative;
  margin: 0 auto;
  padding-top: 272px;
  text-align: center;
  padding-bottom: 49px;
}

.slider__item {
  display: none;
}

.slider__item--current {
  display: block;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__title {
  margin: 0 auto;
  margin-bottom: 37px;
  width: 60%;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
}

.button--big {
  padding: 12px 44px;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
}

.slider__controls {
  position: absolute;
  bottom: 63px;
  z-index: 10;
  width: 79px;
  display: flex;
  justify-content: space-between;
}

.slider__button {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  cursor: pointer;
  border-radius: 50%;
  outline: 0;
  outline-offset: 0;
}

.slider__button:not(.slider__button--current:hover):hover,
.slider__button:focus {
  background-color: var(--basic-white);
}

.slider__button--current,
.slider__button:active {
  background-color: var(--basic-white);
}

/* grid for content */
.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 267px 26px 267px 26px 267px 26px 267px;
  grid-template-columns: repeat(4, 267px);
  grid-column-gap: 26px;
  grid-row-gap: 40px;
  margin-bottom: 42px;
}

/* gifts */
.gift {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  background-repeat: no-repeat;
  padding: 15px 23px 23px 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.gift--raspberry {
  background-color: var(--basic-raspberry);
  background-image: url("../img/bg-raspberry.jpg");
  background-size: cover;
}

.gift--chocolate {
  background-color: var(--basic-chocolate);
  background-image: url("../img/bg-chocolate.jpg");
  background-size: cover;
}

.gift__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.gift__text {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 44px;
}

.button--medium {
  margin-top: auto;
  margin-left: auto;
}

.button--medium:active {
  background: linear-gradient(180deg, var(--basic-light-tomato) 0%, var(--basic-tomato) 100%);
  box-shadow: 0px 2px 2px var(--basic-tomato-shadow);
}

/* goods */
.goods {
  position: relative;
  box-sizing: border-box;
  -ms-grid-column-span: 1;
  grid-column: span 1;
  min-height: 324px;
}

.goods:hover,
.goods:focus {
  padding-bottom: 72px;
  margin-bottom: -72px;
  z-index: 15;
}

.goods:hover::before,
.goods:focus::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  min-width: 293px;
  min-height: 402px;
  background-color: var(--basic-dark-grey);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px var(--basic-dark-black);
}

.goods:hover .goods__btn,
.goods:focus .goods__btn {
  display: block;
}

.goods__img {
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--basic-light-grey);
  margin-bottom: 4px;
}

.goods__cost {
  position: absolute;
  max-width: 260px;
  top: 208px;
  left: 0px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.goods__weight {
  position: relative;
  padding-left: 43px;
  font-size: 30px;
}

.goods__weight::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 12px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  width: 31px;
  height: 36px;
}

.goods__title {
  width: 258px;
  top: 280px;
  margin: 0px;
  text-align: center;
}

.goods__link {
  font-size: 16px;
  font-weight: 500;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-light-trans-black);
  text-decoration: none;
  cursor: pointer;
}

.goods__link:hover,
.goods__link:active {
  color: var(--basic-coral-active);
  border-color: var(--basic-coral-active);
}

.goods--hit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.goods__btn {
  display: none;
  position: absolute;
  left: 30px;
  bottom: 14px;
  padding-left: 18px;
  padding-right: 18px;
}

/* about shop */
.about-shop {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  padding: 21px 20px 16px 20px;
  background-image: url("../img/bg-waffle.jpg");
  background-repeat: repeat;
  background-color: var(--basic-waffle);
  color: var(--basic-light-black);
  border-radius: 16px;
}

.about-shop__title {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-shop__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-left: 0px;
  list-style: none;
}

.about-shop__item {
  position: relative;
  width: 485px;
  padding-top: 9px;
  padding-bottom: 14px;
  padding-left: 55px;
}

.about-shop__item--ice-cream::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.about-shop__item--cow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.about-shop__item--eco::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.about-shop__item--thermometer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

/* aside */
.new-post {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  padding: 18px 20px 15px 20px;
  background-color: var(--basic-white);
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  border-radius: 16px;
  color: var(--basic-light-black);
}

.new-post__title {
  font-weight: 500;
  margin: 0;
  margin-bottom: 0px;
}

.new-post__link {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  width: 54%;
  color: var(--basic-light-black);
}

.subscription {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  min-height: 220px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--basic-post);
  border-radius: 16px;
}

.subscription__wrapper {
  margin: 6px;
  background-color: var(--basic-grey);
  border-radius: 16px;
}

.subscription__text {
  margin: 0;
  padding: 23px 16px 38px 20px;
  color: var(--basic-post-text);
}

.subscription__form {
  display: flex;
  align-items: center;
  margin: 0 18px;
  padding-bottom: 33px
}

.input--sub {
  flex-grow: 1;
  margin-right: 10px;
}

.input--sub::-webkit-input-placeholder {
  color: var(--basic-light-grey);
  line-height: 24px;
}

.input--sub::-moz-placeholder {
  color: var(--basic-light-grey);
  line-height: 24px;
}

.input--sub:-ms-input-placeholder {
  color: var(--basic-light-grey);
  line-height: 24px;
}

.input--sub::-ms-input-placeholder {
  color: var(--basic-light-grey);
  line-height: 24px;
}

.input--sub::placeholder {
  color: var(--basic-light-grey);
  line-height: 24px;
}

/* location */
.location {
  width: 100%;
  min-height: 430px;
  background-image: url("../img/map-pin.jpg");
  background-repeat: no-repeat;
  background-color: var(--basic-grey-card);
  background-size: cover;
  background-position: center
}

.location-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

/* contacts */
.contacts {
  position: absolute;
  top: 62px;
  right: 27px;
  box-sizing: border-box;
  width: 303px;
  padding: 28px 25px 39px 25px;
  border-radius: 16px;
  background-color: var(--basic-light-white);
  color: var(--basic-light-black);
}

.contacts__adress {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 22px;
}

.contacts__adress b {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts__order {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 39px;
}

.contacts__link {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-light-black);
}

.contacts__btn {
  padding-left: 28px;
  padding-right: 28px;
}

/* feedback form */
.popup-feedback--visible {
  display: block;
  position: fixed;
  top: 100px;
  right: 50%;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.popup-feedback--error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.feedback {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  min-width: 472px;
}

.input--feedback {
  margin-bottom: 20px;
  width: 55%;
}

.feedback__field {
  border: 1px solid var(--basic-dirty-grey);
  border-radius: 6px;
  background-color: var(--basic-white);
  resize: vertical;
  padding-left: 14px;
  padding-top: 16px;
  min-height: 154px;
  margin-bottom: 25px;
}

.input--field {
  min-height: 154px;
}

.feedback .button {
  align-self: flex-end;
}

.feedback__close {
  position: absolute;
  top: 15px;
  right: 16px;
}

/* * * footer section * * */
.footer {
  display: flex;
  padding: 0 27px;
  padding-top: 18px;
  padding-bottom: 28px;
}

.footer--catalog {
  padding-top: 20px;
  border-top: 1px solid var(--basic-transparent);
}

/* social */
.social {
  width: 168px;
  margin-top: 14px;
  margin-right: 235px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 170px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: top;
  opacity: 0.8;
  background-color: transparent;
  border: 3px solid var(--basic-trans-black);
  border-radius: 50%;
}

.social__btn:hover,
.social__btn:active {
  opacity: 1;
  transition: opacity 0.6s;
}

/* footer info */
.footer-info {
  width: 30%;
  margin-top: 10px;
}

.footer-info__list {
  margin: 0;
  padding: 0;
  min-height: 45px;
  max-width: 330px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-info__heart {
  position: relative;
  font-weight: bold;
}

.footer-info__heart svg {
  position: absolute;
  top: 6px;
  left: -6px;
}

.footer-info__item {
  padding-left: 24px;
  min-width: 110px;
}

.footer-info__link {
  font-size: 13px;
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid var(--basic-light-trans-black);
}

.footer-info__link:hover,
.footer-info__link:active {
  color: var(--basic-coral-active);
  border-color: var(--basic-coral-active);
  transition: color 0.6s;
}

/* footer copyright */
.footer__copyright {
  margin-left: auto;
  max-width: 190px;
  display: flex;
  flex-direction: column;
}

.footer__btn:hover svg path{
  fill: var(--basic-coral-active);
}

.footer__text {
  margin: 0;
  font-size: 12px;
}

.footer__link {
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid var(--basic-light-trans-black);
}

.footer__link:hover,
.footer__link:active {
  color: var(--basic-coral-active);
  border-color: var(--basic-coral-active);
  transition: color 0.6s;
}

/* * * catalog * * */
/* * * header * * */
/* cart */
.nav-btns--cart {
  background-color: var(--basic-white);
  color: var(--basic-light-black);
}

.user-nav__item--cart:hover .nav-btns--red {
  fill: var(--basic-red);
}

/* cart-form */
.popup--cart {
  width: 539px;
  padding-right: 15px;
  top: 35px;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-light-black);
}

.user-nav__item--cart:hover .popup--cart {
  display: block;
  transition: display 0.6s;
}

.cart {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  width: 100%;
  padding-bottom: 12px;
}

.cart-item:last-child {
  padding-bottom: 0px;
}

.cart-item__link-remove {
  padding-top: 10px;
  padding-left: 2px;
  margin-right: 8px;
}

.cart-item__img {
  border-radius: 50%;
  margin-right: 13px;
}

.cart-item__name {
  margin-top: 10px;
  width: 247px;
}

.cart-item__weight {
  margin-top: 10px;
  margin-right: 26px;
}

.cart-item__weight span {
  color: var(--basic-light-grey)
}

.cart-item__cost {
  margin-top: 10px;
}

.cart-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-total::before {
  content: "";
  width: 100%;
  border: 1px solid var(--basic-grey-card);
}

.cart-total__amount {
  margin-top: 18px;
  margin-top: 16px;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

.button-small {
  padding: 10px 14px;
}

.breadcrumbs-contacts {
  display: flex;
  flex-wrap: wrap;
}

/* * * breadcrumbs * * */
.breadcrumbs {
  margin: 0;
  margin-right: auto;
  margin-top: 16px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  position: relative;
  font-size: 14px;
  margin-right: 24px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "»";
  position: absolute;
  width: 6px;
  height: 6px;
  left: 60px;
}

.breadcrumbs__link {
  text-decoration: none;
  color: var(--basic-white);
  cursor: pointer;
  border-bottom: 1px solid var(--basic-light-trans-black);
}

.breadcrumbs__link:hover,
.breadcrumbs__link:active {
  color: var(--basic-coral-active);
  border-bottom: 1px solid var(--basic-coral-active);
}

.catalog-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  margin-top: -10px;
  margin-bottom: 18px;
}

/* * * filter-form * * */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 870px;
  margin-bottom: 37px;
}

.filter__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.filter__title {
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 9px 15px;
  background-color: var(--basic-light-trans-black);
  border-radius: 20px;
  box-sizing: border-box;
  min-width: 425px;
}

/* sorting */
.sort-select-wrapper {
  position: relative;
  font-weight: 500;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 171px 13px;
  background-color: var(--basic-light-trans-black);
  border-radius: 20px;
}

.sort-select-wrapper:hover,
.sort-select-wrapper:focus {
  color: var(--basic-light-black);
  background-image: url("../img/select-arrow-black.svg");
}

.sort-select {
  padding: 7px 0;
  padding-left: 16px;
  padding-right: 37px;

  -webkit-appearance: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

.sort-select__item {
  color: var(--basic-light-black);
}

/* range */
.range {
  position: relative;
  width: 220px;
  height: 36px;
  background-color: var(--basic-light-trans-black);
  border-radius: 20px;
}

.range__scale {
  position: absolute;
  top: 16px;
  left: 19px;
  width: 176px;
  height: 2px;
  background-color: var(--basic-olive-scale);
}

.range__bar {
  position: absolute;
  left: 23px;
  width: 60%;
  height: 2px;
  background-color: var(--basic-olive-bar);
}

.range__toggle {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 20px;
  height: 23px;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.range__toggle:hover,
.range__toggle:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.range__toggle--min {
  left: 32px;
}

.range__toggle--max {
  left: 130px;
}

/* radio */
.radio {
  position: relative;
  padding-left: 31px;
  line-height: 18px;
  cursor: pointer;
}

.radio__icon {
  position: absolute;
  top: -2px;
  left: 0;
  width: 22px;
  height: 22px;
  opacity: 0.8;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.radio__icon:hover {
  opacity: 1;
}

.radio__input:checked + .radio__icon {
  background-image: url("../img/radio-on.svg");
}

.radio--disabled {
  opacity: 0.4;
  cursor: default;
}

/* filler */
.filler {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 9px 20px 9px 16px;
  background-color: var(--basic-light-trans-black);
  border-radius: 20px;
}

.checkbox {
  position: relative;
  padding-left: 33px;
  padding-right: 21px;
  line-height: 18px;
  cursor: pointer;
}

.checkbox__icon {
  position: absolute;
  top: -3px;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0.8;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.checkbox__icon:hover {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url("../img/checkbox-on.svg");
}

.checkbox__chekbox--disabled {
  opacity: 0.4;
  cursor: default;
}

.filter-btn {
  min-width: 140px;
  height: 36px;
  background-color: var(--basic-light-trans-black);
  border-radius: 20px;
  color: inherit;
  font-weight: 500;
  text-align: center;
  border: 2px solid var(--basic-white);
  align-self: flex-end;
}

.filter-btn:hover {
  color: var(--basic-light-black);
  background-color: var(--basic-white);
  transition: background-color 0.6s;
}

.filter-btn:active{
  color: var(--basic-light-black);
  background-color: var(--basic-white);
  box-shadow: inset 0px 2px 1px var(--basic-grey-shadow);
}

/* pagination */
.pagination__list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-right: 1px;
  margin-top: 75px;
  margin-left: auto;
  margin-bottom: 28px;
  list-style: none;
}

.pagination__link {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding: 1px 8px;
  margin-right: 5px;
  text-decoration: none;
  color: inherit;
  border-radius: 20px;
}

.pagination__link:hover {
  background-color: var(--basic-light-trans-black);
}

.pagination__link--current,
.pagination__link:active {
  background-color: var(--basic-white);
  color: var(--basic-light-black);
}

.pagination__link--prev::before {
  content: "";
  cursor: default;
  position: absolute;
  top: -6px;
  left: 0px;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  border-top: 1px solid var(--basic-transparent);
  border-right: 1px solid var(--basic-transparent);
}

.pagination__link--next::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 12px;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid var(--basic-white);
  border-right: 1px solid var(--basic-white);
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, -130%);
            transform: translate(50%, -130%);
  }
  40% {
    opacity: 0.3;
    -webkit-transform: translate(50%, 60%);
            transform: translate(50%, 60%);
  }

  80% {
    opacity: 0.7;
    -webkit-transform: translate(50%, -30%);
            transform: translate(50%, -30%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, -130%);
            transform: translate(50%, -130%);
  }
  40% {
    opacity: 0.3;
    -webkit-transform: translate(50%, 60%);
            transform: translate(50%, 60%);
  }

  80% {
    opacity: 0.7;
    -webkit-transform: translate(50%, -30%);
            transform: translate(50%, -30%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(51%);
            transform: translateX(51%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(49%);
            transform: translateX(49%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(51%);
            transform: translateX(51%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(49%);
            transform: translateX(49%);
  }
}
