@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-black:#000000; /* black text color */
  --basic-white:#ffffff; /* white text and bg color */
  --basic-olive: #849d8f; /* background color-1*/
  --basic-light-olive: #a1b5a9; /*text-decoration on nav items*/
  --basic-light-tomato: #F26843; /*btn-basic center*/
  --basic-tomato: #E74A35; /*btn-basic edge*/
  --basic-tomato-shadow: rgba(172, 16, 0, 0.64); /*shadow of btn-basic*/
  --basic-tomato-text-shadow: rgba(160, 32, 11, 0.76); /*shadow of btn-basic*/
  --basic-raspberry: #c1134e; /*background color of raspberry gift*/
  --basic-chocolate: #4f2e0f; /*background color of chocolate gift*/
  --basic-waffle: #f2e6ce; /*background color of waffle*/
  --basic-light-black: #323232; /*text color of waffle/aside*/
  --basic-post: #92cdff; /*background color of subscription*/
  --basic-grey: #f8f7f4; /*background color of subscription__wrapper*/
  --basic-post-text: #5a5a5a; /*text color of post*/
  --basic-dirty-grey: rgba(178, 178, 178, 0.52); /*border color of subscription__input*/
  --basic-light-grey: #999999; /*placeholder color of subscription__input*/
  --basic-light-white: #fefefe; /*background color of contacts*/
  --basic-trans-black: rgba(255, 255, 255, 0.5); /*border of social icons*/
  --basic-light-trans-black: rgba(255, 255, 255, 0.3); /*color of links bottom border*/
  --basic-dark-grey: rgba(248, 247, 244, 0.2); /*bg of hovered goods*/
  --basic-dark-black: rgba(0, 0, 0, 0.4); /*box shadow for hovered goods*/



}
/* * * global * * */
html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: var(--basic-olive);
  font-family: "Roboto", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white);
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-basic {
  padding: 11px 22px;
  background: linear-gradient(180deg, var(--basic-light-tomato) 0%, var(--basic-tomato) 100%);
  box-shadow: 0px 2px 2px var(--basic-tomato-shadow);
  border-radius: 70px;
  color: var(--basic-white);
  text-decoration: none;
  text-shadow: 0px 2px 5px var(--basic-tomato-text-shadow);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  border: 0;
}

/* * * index * * */
/* * * header * * */
.header {
  padding-top: 9px;
  margin: 0 27px;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
}

.site-nav__list {
  display: flex;
  padding: 0;
  padding-left: 24px;
  margin: 0;
  margin-top: 20px;
  list-style: none;
}

.site-nav__item {
  line-height: 18px;
  padding-right: 32px;
}

.site-nav__link {
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid var(--basic-light-trans-black);
}

.user-nav {
  margin-left: auto;
}

.user-nav__list {
  display: flex;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  list-style: none;
}

.user-nav__item {
  padding-left: 10px;
}

.nav-btns {
  position: relative;
  min-width: 32px;
  height: 32px;
  border: 0;
  background-color: var(--basic-light-olive);
  border-radius: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--basic-white);
}

.nav-btns__text {
  padding-left: 37px;
  padding-right: 12px;
}

.nav-btns__search svg {
  position: absolute;
  top: 6px;
  left: 8px;
}

.nav-btns__login svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.nav-btns__cart svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-contacts__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.header-contacts__tel {
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  text-decoration: none;
}
/* * * main section * * */
.main {
  padding: 0 27px;
}

/* offer/slider */
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 271px;
  margin-bottom: 40px;
}

.offer__text {
  margin-bottom: 10px;
  width: 60%;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
}

.offer__btn {
  padding: 9px 40px 10px 40px;
  font-size: 32px;
  line-height: 44px;
}

/* grid for content */
.content {
  display: grid;
  grid-template-columns: repeat(4, 267px);
  grid-column-gap: 26px;
  grid-row-gap: 40px;
  margin-bottom: 40px;
}

/* gifts */
.gift {
  position: relative;
  grid-column: span 2;
  background-repeat: no-repeat;
  min-height: 229px;
  border-radius: 16px;
}

.gift--raspberry {
  background-color: var(--basic-raspberry);
  background-image: url("../img/bg-raspberry.jpg");
}

.gift--chocolate {
  background-color: var(--basic-chocolate);
  background-image: url("../img/bg-chocolate.jpg");
}

.gift__title {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.gift__text {
  margin: 0;
  margin-left: 16px;
  margin-right: 22px;
  font-weight: bold;
  font-size: 18px;
}

.gift__btn {
  position: absolute;
  bottom: 22px;
  right: 22px;
}

/* goods */
.goods {
  position: relative;
  box-sizing: border-box;
  grid-column: span 1;
  min-height: 324px;
}

.goods:hover {
  padding-bottom: 72px;
  margin-bottom: -72px;
  background-color: var(--basic-dark-grey);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px var(--basic-dark-black);
}

.goods:hover .goods__btn {
  display: block;
}

.goods__img {
  border-radius: 50%;
  cursor: pointer;
}

.goods__cost {
  position: absolute;
  top: 213px;
  left: 7px;
  margin: 0;
  font-size: 45px;
  font-weight: bold;
}

.goods__weight {
  position: relative;
  padding-left: 34px;
  font-size: 30px;
}

.goods__weight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  width: 31px;
  height: 36px;
}

.goods__title {
  margin: 0;
  margin-top: 6px;
  text-align: center;
}

.goods__link {
  font-size: 16px;
  font-weight: 500;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-light-trans-black);
  text-decoration: none;
}

.goods--hit::before {
  content: "";
  position: absolute;
  left: 6px;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
}

.goods__btn {
  display: none;
  position: absolute;
  left: 30px;
  bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
}

/* about shop */
.about-shop {
  grid-column: span 4;
  min-height: 306px;
  background-image: url("../img/bg-waffle.jpg");
  background-repeat: repeat;
  background-color: var(--basic-waffle);
  color: var(--basic-light-black);
  border-radius: 16px;
}

.about-shop__title {
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-shop__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 75px;
  padding-right: 23px;
  list-style: none;
}

.about-shop__item {
  width: 482px;
  padding-bottom: 33px;
}

.about-shop__item:nth-child(2n) {
  padding-left: 82px;
}

/* aside */
.new-post {
  grid-column: span 2;
  min-height: 220px;
  background-color: var(--basic-white);
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  color: var(--basic-light-black);
}

.new-post__title {
  font-weight: 500;
  margin: 23px 20px 15px 20px;
}

.new-post__link {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 20px;
  width: 50%;
  color: var(--basic-light-black);
}

.subscription {
  grid-column: span 2;
  min-height: 220px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-color: var(--basic-post);
  border-radius: 16px;
}

.subscription__wrapper {
  min-height: 210px;
  margin: 6px;
  background-color: var(--basic-grey);
  border-radius: 16px;
}

.subscription__text {
  margin: 0;
  padding: 29px 16px 47px 20px;
  color: var(--basic-post-text);
}

.subscription__form {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.subscription__input {
  flex-grow: 1;
  margin-right: 10px;
  padding-left: 14px;
  min-height: 44px;
  border: 1px solid var(--basic-dirty-grey);
  border-radius: 6px;
  background-color: var(--basic-white);
}

.subscription__input::placeholder {
  color: var(--basic-light-grey);
  line-height: 24px;
}

/* location */
.location {
  width: 100%;
  min-height: 430px;
  background-image: url("../img/map-pin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.location-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.contacts {
  position: absolute;
  top: 62px;
  right: 27px;
  box-sizing: border-box;
  width: 303px;
  padding: 32px 25px;
  border-radius: 16px;
  background-color: var(--basic-light-white);
  color: var(--basic-light-black);
}

.contacts__adress {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}

.contacts__adress b {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts__order {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.contacts__link {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-light-black);
}

.contacts__btn {
  padding-left: 28px;
  padding-right: 28px;
}

/* * * footer section * * */
.footer {
  display: flex;
  padding: 0 27px;
  padding-top: 18px;
  padding-bottom: 28px;
}

/* social */
.social {
  width: 186px;
  margin-top: 17px;
  margin-right: 235px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: top;
  opacity: 0.8;
  background-color: transparent;
  border: 3px solid var(--basic-trans-black);
  border-radius: 50%;
}

/* footer info */
.footer-info {
  width: 30%;
  margin-top: 12px;
}

.footer-info__list {
  margin: 0;
  padding: 0;
  min-height: 45px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-info__heart {
  position: relative;
  font-weight: bold;
}

.footer-info__heart svg {
  position: absolute;
  top: 6px;
  left: -6px;
}

.footer-info__item {
  padding-left: 20px;
  min-width: 110px;
}

.footer-info__link {
  font-size: 13px;
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid var(--basic-light-trans-black);
}

/* footer copyright */
.footer__copyright {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.footer__text {
  margin: 0;
  font-size: 12px;
}

.footer__link {
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid var(--basic-light-trans-black);
}


/*
Вопросы:
1. Нужно ли задавать 
*/